$color-white: #FFFFFF;
$color-white2: #F8F9FC;
$color-gray: #C0BFCF;
$color-gray2: #9D9DB5;
$color-navyblue: #192140;
$color-black: #10131C;
$color-skyblue: #D7F8FF;
$color-lime: #DCF10D;
$color-blue: #0266FF;
